<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="E:\PROGRAMIST\fun\static\css\style.css">
    <title>fun</title>
</head>
<h1>Games!</h1>
<h2>Maze Game!</h2>
<div id="map-starter-1-widget"></div>
<script type="text/javascript" src="https://www.conceptispuzzles.com/index.aspx?uri=channel/map-starter-1/1/js"></script>
<script type="text/javascript">showPuzzle('map-starter-1-widget');</script>
<h2>Connect The Dots!</h2>
<div id="dap-starter-1-widget"></div>
<script type="text/javascript" src="https://www.conceptispuzzles.com/index.aspx?uri=channel/dap-starter-1/1/js"></script>
<script type="text/javascript">showPuzzle('dap-starter-1-widget');</script>#
<h2>Classic Sudoku</h2>
<div id="sud-starter-1-widget"></div>
<script type="text/javascript" src="https://www.conceptispuzzles.com/index.aspx?uri=channel/sud-starter-1/1/js"></script>
<script type="text/javascript">showPuzzle('sud-starter-1-widget');</script>
<h2>Chain Sudoku</h2>
<div id="chain-sud-starter-1-widget"></div>
<script type="text/javascript" src="https://www.conceptispuzzles.com/index.aspx?uri=channel/chain-sud-starter-1/1/js"></script>
<script type="text/javascript">showPuzzle('chain-sud-starter-1-widget');</script>
<h2>Battleship</h2>
<div id="bat-starter-1-widget"></div>
<script type="text/javascript" src="https://www.conceptispuzzles.com/index.aspx?uri=channel/bat-starter-1/1/js"></script>
<script type="text/javascript">showPuzzle('bat-starter-1-widget');</script>
<li class="list__item"></li> 
<a href="/form">
<img class="item__img" src="E:\PROGRAMIST\fun\static\img\form.png" alt="home">
<span>Fill In This Form For Notifications About Updates</span></a>
</html>